<h1>Add a forum</h1>
<hr>
<%= form_for @forum do |f| %>
  <%= render 'shared/errors', object: @forum %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, columns: 3, class: 'form-control' %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>
<br />
<%= link_to 'Cancel', forums_path, class: 'btn btn-default' %>
